* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Inter", sans-serif;
	background-color: #141414;
	font-size: 16px;
	line-height: 1.5;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	gap: 30px;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 40px;
	border-radius: 8px;
	background-color: #1f1f1f;
    width: 380px;
}

.card-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.card-content img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.card-content h1 {
	font-size: 24px;
	font-weight: 600;
	color: white;
    margin-top: 12px;
}

.card-content span {
	font-size: 14px;
	font-weight: 500;
	color: greenyellow;
}

.card-content p {
	font-size: 14px;
	font-weight: 400;
	color: #c9c9c9;
    margin-top: 12px;
}

.links {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
    margin-top: 24px;
    width: 100%;
}

.links li {
	padding: 10px 20px;
	background-color: #2e2e2e;
	border-radius: 8px;
    width: 100%;
    text-align: center;
    transition: all 0.3s ease;
}

.links li:hover {
	background-color: #3e3e3e;
    transform: scale(1.05);
    cursor: pointer;
}

.links a {
	font-size: 14px;
	font-weight: 400;
    color: white;
    font-weight: 600;
}
